.app-content {
    padding-top:200px;
    padding-bottom:40px;
}

.card {
    margin-right: 20px;
    height: 500px;
    position: relative;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    row-gap: 50px;
}

img {
    width: 100%;
    height: 500px;
    object-fit:fill;
    border: 1px solid white;
}

.flags {
    display: block;
    width: 30px;
    height: 25px;
}

.card-body-on-hover {
    display: none;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}

.card:hover .card-body-on-hover{
	display: block;
}

.card:hover .card-default{
	opacity: 0.2;
}

